<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- create form -->
    <form action="<%= targetPostForm %>" method="post">
        <div>
            <label for="condition">condition:</label>
            <input type="text" name="condition" id="condition">
        </div>
        <div>
            <label for="project_type">project type:</label>
            <input type="text" name="project_type" id="project_type">
        </div>
        <div>
            <label for="due_date">due date:</label>
            <input type="date" name="due_date" id="due_date">
        </div>
        <div>
            <label for="currency">currency</label>
            <input type="text" name="currency" id="currency">
        </div>
        <div>
            <label for="budget">budget</label>
            <input type="text" name="budget" id="budget">
        </div>
        <div>
            <label for="details">details</label>
            <input type="text" name="details" id="details">
        </div>
        <div>
            <label for="email">email</label>
            <input type="email" name="email" id="email">
        </div>
        <div>
            <label for="lang">lang</label>
            <input type="text" name="lang" id="lang">
        </div>

        <button type="submit">Register</button>
</body>
</html>